*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:white;
    
}


body{
    width: 100vw;
    min-height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
    justify-content: center;
    
}


main{
    background-color: hsl(233, 47%, 7%);
    width:60%;
    max-width:1440px;
    display:flex;
    
}


img{
    width:100%;
    max-width:1440px;
    border-radius:0 10px 10px 0;
}

#overlay{
    position:absolute;
    background-color: hsl(277, 64%, 61%);
    width:60%;
    height:48%;
    opacity:0.2; 
    border-radius: 10px; 
}

span{
    color:hsl(277, 64%, 61%);
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size:22px;
   margin:2em; 
}
h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color:hsla(0, 0%, 100%, 0.6)
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:8px;
    width:50%;
    color:hsla(0, 0%, 100%, 0.75)
   
}
p[class="description"]{
    margin:auto 6em;
    line-height: 15px;
}

.textbox{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;

}

.stats{
    display:flex;
    margin:1em;
}

.statistic{
    margin:2em;
}

@media (max-width:760px){
    main{
        flex-direction: column-reverse;
        width:60%;
    }
    html{overflow-x: hidden;
    overflow-y: auto;
    }

    .image, .textbox{
        width:100%;
    }
}

@media (max-height:500px){
    main{
        flex-direction: column-reverse;
        width:60%;
    }
    html{overflow-x: hidden;
        overflow-y: auto;
        }
    
   .image, .textbox{
            width:100%;
        }
}

